* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
}

ul,
ol,
li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}

.wrapper {
  background-color: transparent;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}
@media screen and (max-width: 1500pxpx) {
  body {
    overflow-x: hidden;
  }
}

.login_panel {
  right: -100%;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.login_panel .login {
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 8px;
  z-index: 10;
  visibility: visible;
}
.login_panel.active {
  right: 0;
}

.header__panel {
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 37%;
  right: -100%;
  background-color: white;
  opacity: 1;
  z-index: 1;
  bottom: 50%;
  transition: all 0.5s ease;
}
.header__panel.active {
  right: 0;
  overflow-x: hidden;
}
.header__panel .header_menu-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 10px;
}
.header__panel .header_menu-navbar-item-panel {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  transition: all 0.3s ease;
}

.header {
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.header img {
  width: 100%;
  height: 100%;
}
.header .header_row {
  position: relative;
  padding: 20px 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  .header .header_row {
    height: 50vh;
  }
}
.header .header_row .header_menu {
  width: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .header .header_row .header_menu .header_menu-navbar {
    display: none;
  }
}
.header .header_row .header_menu-logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.header .header_row .header_menu-logo img {
  height: 500px;
}
.header .header_row .header_menu-navbar {
  display: flex;
  align-items: center;
  height: 100%;
}
.header .header_row .header_menu-navbar-item {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-right: 30px;
  transition: all 0.3s ease;
}
.header .header_row .header_menu-navbar-item:hover {
  color: rgb(175, 10, 43);
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.header .header_row .header_menu .header_menu-logo2 {
  height: 100%;
  display: flex;
  align-items: center;
}
.header .header_row .header_menu .header_menu-logo2 .nav_btn {
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .header .header_row .header_menu .header_menu-logo2 {
    display: none;
  }
}
.header .header_row .header_menu .header_menu-logo2 i {
  font-size: 25px;
  margin-right: 20px;
  transition: all 0.3s ease;
}
.header .header_row .header_menu .header_menu-logo2 i:hover {
  transition: all 0.3s ease;
  transform: scale(1.2);
  color: rgb(175, 10, 43);
}
.header .header_row .header_menu .header_menu-logo3 {
  display: none;
}
.header .header_row .header_menu .header_menu-logo3 i {
  font-size: 20px;
  margin-right: 20px;
  transition: all 0.3s ease;
}
.header .header_row .header_menu .header_menu-logo3 i:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
  color: rgb(175, 10, 43);
}
@media screen and (max-width: 700px) {
  .header .header_row .header_menu .header_menu-logo3 {
    display: inline-block;
  }
}
.header .header_row .header_title {
  position: relative;
  top: -30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .header_row .header_title h1 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 30px;
  margin-bottom: 20px;
}
@media screen and (max-width: 700px) {
  .header .header_row .header_title h1 {
    font-size: 40px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .header .header_row .header_title h1 {
    font-size: 20px;
    margin-bottom: 0;
  }
}
.header .header_row .header_title h4 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
@media screen and (max-width: 700px) {
  .header .header_row .header_title h4 {
    font-size: 15px;
  }
}
.header .header_row .header_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_row .header_btn button {
  padding: 15px 30px;
  border: 2px solid black;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 500;
  margin-right: 2%;
}
@media screen and (max-width: 700px) {
  .header .header_row .header_btn button {
    padding: 5px 10px;
    font-weight: 500;
    border: 1px solid;
  }
}

.main {
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
}
.main .section {
  padding-top: 8%;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1025px) {
  .main .section {
    height: 100vh;
  }
  .main .section .main_brands {
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
  }
  .main .section .main_brands svg {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .main .section {
    height: 150vh;
  }
  .main .section .main_brands svg {
    width: 99%;
  }
}
.main .section .main_title {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.main .section .main_title h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 40px;
  line-height: 50px;
}
@media screen and (max-width: 700px) {
  .main .section .main_title h1 {
    font-size: 25px;
  }
}
.main .section .main_title p {
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 700px) {
  .main .section .main_title p {
    font-size: 15px;
  }
}
@media screen and (max-width: 700px) {
  .main .section .main_title {
    height: 15%;
  }
}
.main .section .main_brands {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
  .main .section .main_brands {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15%;
  }
  .main .section .main_brands svg {
    width: 180px;
    height: 80px;
  }
}
.main .section .main_title2 {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 700px) {
  .main .section .main_title2 {
    height: 10%;
  }
}
.main .section .main_title2 .general__href1 {
  font-size: 18px;
  color: rgb(118, 114, 109);
  font-family: "Montserrat", sans-serif;
}
.main .main_cars {
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.main .main_cars img {
  height: 100%;
  width: 25%;
}
@media screen and (max-width: 1025px) {
  .main .main_cars {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main .main_cars img {
    height: 25%;
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .main .main_cars img {
    height: 25%;
    width: 100%;
  }
}
.main .section2 {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
.main .section2_row {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  justify-content: space-around;
}
@media screen and (max-width: 1025px) {
  .main .section2_row {
    width: 100%;
    height: 300vh;
  }
}
@media screen and (max-width: 700px) {
  .main .section2_row {
    width: 100%;
    height: 400vh;
  }
  .main .section2_row .section2_cars {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .main .section2_row .section2_cars .section2_cars-box {
    width: 98%;
    height: 15%;
  }
}
.main .section2_row .section2_title {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
@media screen and (max-width: 700px) {
  .main .section2_row .section2_title {
    height: 5%;
  }
}
.main .section2_row .section2_title h1 {
  font-weight: 200;
  font-size: 40px;
  line-height: 50px;
}
@media screen and (max-width: 700px) {
  .main .section2_row .section2_title h1 {
    font-size: 20px;
    text-align: center;
  }
}
.main .section2_row .section2_title2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 10%;
  padding: 5px;
}
@media screen and (max-width: 700px) {
  .main .section2_row .section2_title2 {
    height: 5%;
  }
}
.main .section2_row .section2_title2 h1 {
  font-weight: 200;
  font-size: 40px;
  line-height: 50px;
}
@media screen and (max-width: 700px) {
  .main .section2_row .section2_title2 h1 {
    font-size: 30px;
  }
}
.main .section2_row .section2_cars {
  width: 100%;
  height: 90%;
  margin-bottom: 5%;
  margin-left: 2%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}
.main .section2_row .section2_cars-box {
  width: 32%;
  height: 45%;
  border-radius: 5%;
  box-shadow: 0px 6.98549px 42.44px rgba(5, 8, 8, 0.25);
  padding: 5px;
}
@media screen and (max-width: 1025px) {
  .main .section2_row .section2_cars-box {
    width: 45%;
    height: 32%;
  }
}
.main .section2_row .section2_cars-box-img {
  width: 100%;
  height: 50%;
}
.main .section2_row .section2_cars-box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main .section2_row .section2_cars-box-about {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}
.main .section2_row .section2_cars-box-about h1 {
  font-weight: 200;
  font-size: 40px;
  line-height: 50px;
}
@media screen and (max-width: 800px) {
  .main .section2_row .section2_cars-box-about h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  .main .section2_row .section2_cars-box-about h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 500px) {
  .main .section2_row .section2_cars-box-about h2 {
    font-size: 20px;
  }
}
.main .section2_row .section2_cars-box-btn {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
}
.main .section2_row .section2_cars-box-btn button {
  background-color: #4FAAFF;
  padding: 10px 25px;
  border-radius: 38px;
  color: white;
  margin: 0 5%;
}
.main .section2_row .section2_cars-box-btn button:hover {
  background-color: white;
  color: #4FAAFF;
  border: 1px solid;
}
.main .section2_row .section2_cars-box-btn h3 {
  font-weight: 600;
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .main .section2_row .section2_cars-box-btn h3 {
    font-size: 15px;
  }
}
.main .section3_row {
  width: 100%;
  height: 60vh;
  padding-top: 10px;
  display: flex;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 800px) {
  .main .section3_row {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .main .section3_row .section3_left {
    width: 100%;
    height: 20%;
  }
  .main .section3_row .section3_right {
    width: 100%;
    height: 50%;
  }
}
.main .section3_left {
  padding: 5px;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .section3_left p {
  margin-top: 5%;
  width: 70%;
}
.main .section3_left h3 {
  margin-top: 5%;
  font-weight: 500;
}
.main .section3_left h1 {
  font-weight: 300;
  font-size: 40px;
}
@media screen and (max-width: 600px) {
  .main .section3_left h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .main .section3_left h1 {
    font-size: 20px;
  }
}
.main .section3_right {
  width: 35%;
  height: 100%;
}
.main .section3_right img {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
.footer_section {
  width: 100%;
  height: 50vh;
  margin-bottom: 10%;
}
.footer_section-body {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.footer_section-body h2 {
  font-size: 30px;
  margin-right: 3%;
}
@media screen and (max-width: 700px) {
  .footer_section-body h2 {
    font-size: 20px;
  }
}
.footer_section-body input {
  padding: 10px 18px;
  margin-right: 2%;
  border: 3px solid;
}
.footer_section-body button {
  padding: 18px 25px;
  background-color: #2C2C2C;
  color: white;
  border-radius: 5px;
}
@media screen and (max-width: 800px) {
  .footer_section-body input {
    padding: 5px 10px;
  }
  .footer_section-body button {
    padding: 10px 18px;
  }
}
@media screen and (max-width: 800px) and (max-width: 700px) {
  .footer_section-body button {
    padding: 8px 15px;
  }
}
@media screen and (max-width: 800px) {
  .footer_section-body button:hover {
    color: black;
    background-color: rgb(186, 171, 171);
    border: 1px solid;
  }
}
@media screen and (max-width: 500px) {
  .footer_section-body input {
    height: 20%;
  }
}
.footer_section-body2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}
.footer_section-body2 h3 {
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .footer_section-body2 h3 {
    font-size: 14px;
  }
}
.footer_section-body2 svg {
  width: 40%;
  height: 40%;
}
.footer_section2 {
  width: 100%;
  height: 60vh;
  display: flex;
  margin-bottom: 5%;
}
@media screen and (max-width: 700px) {
  .footer_section2 {
    height: 40vh;
  }
}
.footer_section2-left {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}
.footer_section2-left-logo {
  width: 30%;
  height: 100%;
}
.footer_section2-left-logo svg {
  width: 80%;
  height: 30%;
}
.footer_section2-left-about {
  width: 30%;
  height: 100%;
}
.footer_section2-left-about-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer_section2-left-about-navbar-item-general {
  color: black;
  font-weight: 700;
}
.footer_section2-left-about-navbar-item {
  font-weight: 500;
  color: black;
}
.footer_section2-right {
  width: 50%;
  height: 100%;
  display: flex;
}
.footer_section2-right-about {
  width: 50%;
  height: 100%;
}
.footer_section2-right-about-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer_section2-right-about-navbar-item-general {
  color: black;
  font-weight: 700;
}
.footer_section2-right-about-navbar-item {
  font-weight: 500;
  color: black;
}
.footer_social {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.footer_social-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.footer_social-left svg {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
  margin-right: 5px;
}
.footer_social-left svg:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 700px) {
  .footer_social-left svg {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 700px) {
  .footer_social .general__href {
    font-size: 14px;
    color: rgb(118, 114, 109);
  }
}
.footer_footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .footer_section2 {
    display: none;
  }
}

.footer {
  width: 100%;
}
.footer__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0 20px 0;
  border-top: 2px solid rgb(146, 140, 140);
  border-bottom: 2px solid rgb(146, 140, 140);
}
.footer__row-logo img {
  width: 150px;
  height: 100px;
}
.footer__row h3 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: black;
}
.footer__row span {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.footer__row a {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgb(68, 63, 63);
}
.footer__row .company {
  display: flex;
  flex-direction: column;
}
.footer__row .help {
  display: flex;
  flex-direction: column;
}
.footer__row .catalog {
  display: flex;
  flex-direction: column;
}
.footer__row .contact {
  display: flex;
  flex-direction: column;
}
.footer__row .contact li {
  display: flex;
  flex-direction: column;
}
.footer__row .contact li .contact-phone {
  font-size: 26px;
}
@media screen and (max-width: 700px) {
  .footer__row-logo img {
    width: 100px;
    height: 70px;
  }
  .footer__row a {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .footer__row .company, .footer__row .contact, .footer__row .catalog, .footer__row .help {
    width: 30%;
  }
}
.footer__row h3 {
  font-size: 14px;
}
.footer__row span {
  font-size: 12px;
}
.footer__footer {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.footer__footer p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 500px) {
  .footer__footer {
    height: 30vh;
  }
}

.modal {
  position: absolute;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  overflow: hidden;
  visibility: visible;
  opacity: 2;
  transition: all 0.3s ease;
  display: none;
  align-items: center;
  justify-content: center;
}
.modal .login {
  padding: 5 0px 0 0 0;
  width: 100%;
  height: 100%;
}
.modal.active {
  display: block;
}
.modal .x_btn {
  position: absolute;
  top: 20px;
  right: 20px;
}/*# sourceMappingURL=main.css.map */